<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flow">
            <h2><span jhiTranslate="bzoneApp.flow.detail.title">Flow</span> {{flow.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bzoneApp.flow.config">Config</span></dt>
                <dd>
                    <span>{{flow.config}}</span>
                </dd>
                <dt><span jhiTranslate="bzoneApp.flow.context">Context</span></dt>
                <dd>
                    <span>{{flow.context}}</span>
                </dd>
                <dt><span jhiTranslate="bzoneApp.flow.activeStep">Active Step</span></dt>
                <dd>
                    <span>{{flow.activeStep}}</span>
                </dd>
                <dt><span jhiTranslate="bzoneApp.flow.dataCard">Data Card</span></dt>
                <dd>
                    <div *ngIf="flow.dataCardId">
                        <a [routerLink]="['/data-card', flow.dataCardId, 'view']">{{flow.dataCardId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flow', flow.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
