<div>
    <h2 id="page-heading">
        <span jhiTranslate="bzoneApp.flow.home.title">Flows</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flow" [routerLink]="['/flow/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bzoneApp.flow.home.createLabel">
            Create new Flow
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flows">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bzoneApp.flow.config">Config</span></th>
            <th><span jhiTranslate="bzoneApp.flow.context">Context</span></th>
            <th><span jhiTranslate="bzoneApp.flow.activeStep">Active Step</span></th>
            <th><span jhiTranslate="bzoneApp.flow.dataCard">Data Card</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flow of flows ;trackBy: trackId">
                <td><a [routerLink]="['/flow', flow.id, 'view' ]">{{flow.id}}</a></td>
                <td>{{flow.config}}</td>
                <td>{{flow.context}}</td>
                <td>{{flow.activeStep}}</td>
                <td>
                    <div *ngIf="flow.dataCardId">
                        <a [routerLink]="['../data-card', flow.dataCardId , 'view' ]" >{{flow.dataCardId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/flow', flow.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flow', flow.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'flow', { outlets: { popup: flow.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
