<div>
    <h2 id="page-heading">
        <span jhiTranslate="bzoneApp.dataSourceFile.home.title">Data Source Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-data-source-file" [routerLink]="['/data-source-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bzoneApp.dataSourceFile.home.createLabel">
            Create new Data Source File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dataSourceFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bzoneApp.dataSourceFile.name">Name</span></th>
            <th><span jhiTranslate="bzoneApp.dataSourceFile.path">Path</span></th>
            <th><span jhiTranslate="bzoneApp.dataSourceFile.size">Size</span></th>
            <th><span jhiTranslate="bzoneApp.dataSourceFile.dataSource">Data Source</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataSourceFile of dataSourceFiles ;trackBy: trackId">
                <td><a [routerLink]="['/data-source-file', dataSourceFile.id, 'view' ]">{{dataSourceFile.id}}</a></td>
                <td>{{dataSourceFile.name}}</td>
                <td>{{dataSourceFile.path}}</td>
                <td>{{dataSourceFile.size}}</td>
                <td>
                    <div *ngIf="dataSourceFile.dataSourceId">
                        <a [routerLink]="['../data-source', dataSourceFile.dataSourceId , 'view' ]" >{{dataSourceFile.dataSourceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/data-source-file', dataSourceFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-source-file', dataSourceFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'data-source-file', { outlets: { popup: dataSourceFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
