<div>
    <h2 id="page-heading">
        <span jhiTranslate="bzoneApp.dataCard.home.title">Data Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-data-card" [routerLink]="['/data-card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bzoneApp.dataCard.home.createLabel">
            Create new Data Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dataCards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="bzoneApp.dataCard.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="bzoneApp.dataCard.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataSourceId"><span jhiTranslate="bzoneApp.dataCard.dataSource">Data Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataCard of dataCards ;trackBy: trackId">
                <td><a [routerLink]="['/data-card', dataCard.id, 'view' ]">{{dataCard.id}}</a></td>
                <td jhiTranslate="{{'bzoneApp.DataCardType.' + dataCard.type}}">{{dataCard.type}}</td>
                <td jhiTranslate="{{'bzoneApp.DataCardStatus.' + dataCard.status}}">{{dataCard.status}}</td>
                <td>
                    <div *ngIf="dataCard.dataSourceId">
                        <a [routerLink]="['../data-source', dataCard.dataSourceId , 'view' ]" >{{dataCard.dataSourceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/data-card', dataCard.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-card', dataCard.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'data-card', { outlets: { popup: dataCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
