<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-data-source-column-heading" jhiTranslate="bzoneApp.dataSourceColumn.home.createOrEditLabel">Create or edit a Data Source Column</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dataSourceColumn.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bzoneApp.dataSourceColumn.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bzoneApp.dataSourceColumn.dataType" for="field_dataType">Data Type</label>
                    <select class="form-control" name="dataType" formControlName="dataType" id="field_dataType">
                        <option value="STRING">{{'bzoneApp.ColumnDataType.STRING' | translate}}</option>
                        <option value="NUMERIC">{{'bzoneApp.ColumnDataType.NUMERIC' | translate}}</option>
                        <option value="DATE">{{'bzoneApp.ColumnDataType.DATE' | translate}}</option>
                        <option value="DICTIONARY">{{'bzoneApp.ColumnDataType.DICTIONARY' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('dataType').invalid && (editForm.get('dataType').dirty || editForm.get('dataType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bzoneApp.dataSourceColumn.dataSource" for="field_dataSource">Data Source</label>
                    <select class="form-control" id="field_dataSource" name="dataSource" formControlName="dataSourceId">
                        <option *ngIf="!editForm.get('dataSource').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dataSourceOption.id" *ngFor="let dataSourceOption of datasources; trackBy: trackDataSourceById">{{dataSourceOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('dataSource').invalid && (editForm.get('dataSource').dirty || editForm.get('dataSource').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('dataSource').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
